@font-face {
    font-family: 'Coolvetica Compressed';
    src: url('fonts/coolvetica compressed rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Coolvetica Condensed';
    src: url('fonts/coolvetica condensed rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/coolvetica rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KozGoPro';
    src: url('fonts/KozGoPr6NRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KozGoPro';
    src: url('fonts/KozGoProLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'KozGoPro';
    src: url('fonts/KozGoProRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KozGoPro';
    src: url('fonts/KozGoProMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'KozGoPro';
    src: url('fonts/KozGoProBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Kozuka Gothic Pro Heavy';
    src: url('fonts/kozuka-gothic-pro-h.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Kozuka Gothic PR6N Bold';
    src: url('fonts/kozuka-gothic-pr6n-b.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}